/* .button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(96, 96, 96);
    height: 50px;
    width: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover,
.button:focus {
    color: #000;
}

.button-conteiner {
    display: flex;
    justify-content: space-between;
} */

.input{
    width: 100%;
}